<form>
  <mat-form-field>
    <mat-label>Choose movie</mat-label>
    <input matInput (input)="searchMovie($event)">
  </mat-form-field>
  <mat-grid-list cols="3" rowHeight="30px" style="width: 20%; height: 2px; z-index: 2;position: absolute;" (mouseleave)="closeList()">
    <li *ngFor="let movie of searchList; let i=index" (click)="movieSelect(movie)">
      <div class="pointer" *ngIf="i < 5">
          <mat-grid-tile [colspan]="1" [rowspan]="2"><img src="{{ link + movie.poster_path }}">
          </mat-grid-tile>
          <mat-grid-tile [colspan]="2" [rowspan]="2">{{ movie.original_title }}
          </mat-grid-tile>
      </div>
    </li>
  </mat-grid-list>
</form>
